In [282]:
import pandas as pd

In [ ]:
location = raw_input("Please the location where you have the data file stored")

# Import the data

In [283]:
file_location="'"+location+"/timesMergedData.csv"
data_science_data=pd.read_csv(file_location)

In [284]:
data_science_data.columns

Index([u'SCHOOL', u'STATE', u'CITY', u'NOC', u'PROGRAM', u'TYPE',
       u'DEPARTMENT', u'DELIVERY', u'DURATION', u'PREREQ', u'LINK', u'LOC_LAT',
       u'LOC_LONG', u'WORLD_RANK', u'COUNTRY', u'TEACHING', u'INTERNATIONAL',
       u'RESEARCH', u'CITATIONS', u'INCOME', u'TOTAL_SCORE', u'NUM_STUDENTS',
       u'STUDENT_STAFF_RATIO', u'INTERNATIONAL_STUDENTS', u'F_M_RATIO',
       u'YEAR', u'timesData'],
      dtype='object')

In [285]:
#A sample of top 30 rows
data_science_data.head(30)

,SCHOOL,STATE,CITY,NOC,PROGRAM,TYPE,DEPARTMENT,DELIVERY,DURATION,PREREQ,...,RESEARCH,CITATIONS,INCOME,TOTAL_SCORE,NUM_STUDENTS,STUDENT_STAFF_RATIO,INTERNATIONAL_STUDENTS,F_M_RATIO,YEAR,timesData
0,Albright College,Pennsylvania,Reading,1,M.S. in Business Intelligence,M,Erivan K. Haub School of Business,Online,30 credits,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,American Sentinel University,Colorado,Aurora,1,Master of Science Business Intelligence and An...,M,Not Available,Online,36 credits,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,American University,District of Columbia,Washington,2,Online MBA with Analytics Concentration,M,Kogod School of Business,Online,15 months,Not Available,...,16.5,41.1,35.9,-,"11,604",12.0,12%,60:40:00,2016.0,1
3,American University,District of Columbia,Washington,2,Master of Science in Analytics,M,Kogod School of Business,Online,33 credit hours,Not Available,...,16.5,41.1,35.9,-,"11,604",12.0,12%,60:40:00,2016.0,1
4,Arizona State University,Arizona,Tempe,1,Master of Science in Business Analytics,M,W.P. Carey School of Business,Online or Campus,9 month (FT) or 16 month (online),Not Available,...,35.9,83.6,31.4,48.9,"83,236",29.9,9%,50:50:00,2014.0,1
5,Arizona State University,Arizona,Tempe,1,Master of Science in Business Analytics,M,W.P. Carey School of Business,Online or Campus,9 month (FT) or 16 month (online),Not Available,...,44.1,66.9,-,50.3,"83,236",29.9,9%,50:50:00,2011.0,1
6,Arizona State University,Arizona,Tempe,1,Master of Science in Business Analytics,M,W.P. Carey School of Business,Online or Campus,9 month (FT) or 16 month (online),Not Available,...,45.2,79.9,31.8,51.9,"83,236",29.9,9%,50:50:00,2013.0,1
7,Arizona State University,Arizona,Tempe,1,Master of Science in Business Analytics,M,W.P. Carey School of Business,Online or Campus,9 month (FT) or 16 month (online),Not Available,...,39.0,80.3,28.7,49.9,"83,236",29.9,9%,50:50:00,2012.0,1
8,Arizona State University,Arizona,Tempe,1,Master of Science in Business Analytics,M,W.P. Carey School of Business,Online or Campus,9 month (FT) or 16 month (online),Not Available,...,37.5,73.1,32.6,46.9,"83,236",29.9,9%,50:50:00,2015.0,1
9,Arizona State University,Arizona,Tempe,1,Master of Science in Business Analytics,M,W.P. Carey School of Business,Online or Campus,9 month (FT) or 16 month (online),Not Available,...,38.1,84.6,32,49.7,"83,236",29.9,9%,50:50:00,2016.0,1
10,Aspen University,Colorado,Denver,1,Master of Science in Technology and Innovation...,M,Not Available,Online,36 credits,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
11,Auburn University,Alabama,Auburn University,1,Online Master of Business Administration with ...,M,Raymond J. Harbert College of Business,Online,36 credit hours,Not Available,...,19.4,21.0,37.2,-,"22,386",17.6,4%,51:49:00,2016.0,1
12,Auburn University,Alabama,Auburn University,1,Online Master of Business Administration with ...,M,Raymond J. Harbert College of Business,Online,36 credit hours,Not Available,...,18.7,10.3,47.3,-,"22,386",17.6,4%,51:49:00,2012.0,1
13,Aurora University,Illinois,Aurora,1,Master of Science in Digital Marketing and Ana...,M,Dunham School of Business,Campus,30 credit hours,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
14,Austin Peay State University,Tennessee,Clarksville,2,Professional Science Master's in Data Manageme...,M,Department of Computer Science and Information...,Online,2 years,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
15,Austin Peay State University,Tennessee,Clarksville,2,Professional Science Master's Degree in Predic...,M,Department of Mathematics and Statistics,Online,2 years,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
16,Babson College,Massachusetts,Wellesley,1,MBA with Business Analytics Concentration,M,F.W. Olin Graduate School of Business,Campus,41-55 credits,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
17,Baker College,Michigan,Allen Park,1,MBA in Business Intelligence,M,Baker College,Online,53 hours,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
18,Bay Path University,Massachusetts,Longmeadow,1,MS in Applied Data Science,M,Graduate school,Campus or online,36 credits,"math, statistics",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
19,Bellevue College,Washington,Bellevue,1,Healthcare Data Analyst Certificate,C,Bellevue College Continuing Education,Campus,227 hours,"computer science, math",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
20,Bellevue University,Nebraska,Bellevue,2,Master of Professional Science in Technology I...,M,College of Science and Technology,Online,40 credit hours/18 months,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
21,Bellevue University,Nebraska,Bellevue,2,Master of Science-Business Analytics,M,College of Science and Technology,Online,36 credit hours,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
22,Benedictine University,Illinois,Lisle,1,Master of Science in Business Analytics,M,College of Business,Campus,64 quarter credit hours,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
23,Bentley University,Massachusetts,Waltham,9,Graduate Certificate in Marketing Analytics,C,Graduate School of Business,Campus,15 Credits,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
24,Bentley University,Massachusetts,Waltham,9,Emerging Leaders MBA - Business Analytics,M,Graduate School of Business,Campus,55 Credits,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
25,Bentley University,Massachusetts,Waltham,9,Emerging Leaders MBA - Information Systems and...,M,Graduate School of Business,Campus,55 Credits,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
26,Bentley University,Massachusetts,Waltham,9,Graduate Certificate in Business Analytics,C,Graduate School of Business,Campus,12 credits,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
27,Bentley University,Massachusetts,Waltham,9,Master of Business Analytics,M,Graduate School of Business,Campus,33 credit hours,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
28,Bentley University,Massachusetts,Waltham,9,Master of Science In Marketing Analytics,M,Graduate School of Business,Campus,33 credit hours,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
29,Bentley University,Massachusetts,Waltham,9,Masters of Information Technology,M,Graduate School of Business,Campus,39 Credits,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [286]:
#I had to remove the duplicate entries in the data to ensure consistency. 
#It looks like the data was duplicated due to an error in parsing.

In [287]:
data_science_data_x=data_science_data.drop_duplicates(['SCHOOL', 'STATE', 'CITY','DEPARTMENT', 'DELIVERY','NUM_STUDENTS'])

In [288]:
#Sanity check after duplicates in the data are removed
print len(data_science_data), len(data_science_data_x)

954 359

In [289]:
data_science_data_x.head()

,SCHOOL,STATE,CITY,NOC,PROGRAM,TYPE,DEPARTMENT,DELIVERY,DURATION,PREREQ,...,RESEARCH,CITATIONS,INCOME,TOTAL_SCORE,NUM_STUDENTS,STUDENT_STAFF_RATIO,INTERNATIONAL_STUDENTS,F_M_RATIO,YEAR,timesData
0,Albright College,Pennsylvania,Reading,1,M.S. in Business Intelligence,M,Erivan K. Haub School of Business,Online,30 credits,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,American Sentinel University,Colorado,Aurora,1,Master of Science Business Intelligence and An...,M,Not Available,Online,36 credits,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,American University,District of Columbia,Washington,2,Online MBA with Analytics Concentration,M,Kogod School of Business,Online,15 months,Not Available,...,16.5,41.1,35.9,-,"11,604",12.0,12%,60:40:00,2016.0,1
4,Arizona State University,Arizona,Tempe,1,Master of Science in Business Analytics,M,W.P. Carey School of Business,Online or Campus,9 month (FT) or 16 month (online),Not Available,...,35.9,83.6,31.4,48.9,"83,236",29.9,9%,50:50:00,2014.0,1
10,Aspen University,Colorado,Denver,1,Master of Science in Technology and Innovation...,M,Not Available,Online,36 credits,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [290]:
#Obtain the required columns from the dataset 
data_science_data_2=data_science_data_x[['SCHOOL', 'STATE', 'CITY', 'NOC', 'PROGRAM', 'TYPE','DEPARTMENT', 'DELIVERY', 'DURATION', 'PREREQ', 'LINK', 'LOC_LAT','LOC_LONG', 'WORLD_RANK', 'COUNTRY', 'TEACHING', 'INTERNATIONAL','INCOME', 'NUM_STUDENTS','STUDENT_STAFF_RATIO', 'INTERNATIONAL_STUDENTS', 'F_M_RATIO','YEAR']]

In [291]:
print(data_science_data_2.columns)

Index([u'SCHOOL', u'STATE', u'CITY', u'NOC', u'PROGRAM', u'TYPE',
       u'DEPARTMENT', u'DELIVERY', u'DURATION', u'PREREQ', u'LINK', u'LOC_LAT',
       u'LOC_LONG', u'WORLD_RANK', u'COUNTRY', u'TEACHING', u'INTERNATIONAL',
       u'INCOME', u'NUM_STUDENTS', u'STUDENT_STAFF_RATIO',
       u'INTERNATIONAL_STUDENTS', u'F_M_RATIO', u'YEAR'],
      dtype='object')

In [292]:
pd.crosstab(index=data_science_data_x['PROGRAM'],columns="count") 
#i decided to clasify the programs under the following categories - Masters (Science, Arts, Business and Engineering), Doctoral programs, Certificate programs

col_0                                               count
PROGRAM
Advanced Certificate in Applied Urban Science a...      1
Advanced Certificate in Big Data Analytics              1
Advanced Certificate in Business Analytics              1
Advanced Certificate in Business Analytics of L...      1
Advanced Diploma in Healthcare Informatics              1
Analytics Certificate                                   1
Analytics and Business Intelligence Certificate         1
Applied Analytics Master's Degree                       1
Applied Business Analytics Graduate Certificate         1
Applied Statistics Certificate                          1
BI&A Graduate Certificate                               1
Biomedical Informatics MS Degree                        1
Business Analytics Certificate                          1
Business Analytics Certificate Program                  1
Business Analytics Graduate Certificate                 1
Business Analytics, M.S.                                1
Business Information and Analytics Certificate          1
Business Intelligence & Analytics (Certificate ...      1
Business Intelligence & Data Warehousing Certif...      1
Certificate in Applied Econometric and Data Sci...      1
Certificate in Applied Statistics                       2
Certificate in Business Analysis                        1
Certificate in Business Analytics                       2
Certificate in Business Intelligence                    2
Certificate in Data Mining                              2
Certificate in Data Science                             3
Certificate in Health Care Analytics                    1
Certificate in Healthcare Informatics                   2
Certificate in Predictive Business Analytics            1
Certificate of Advanced Study in Data Science           1
...                                                   ...
Online MBA with Analytics Concentration                 1
Online MS in Business Analytics                         1
Online MS in Management of Health Informatics a...      1
Online Master of Business Administration with c...      1
Online Master of Information and Data Science (...      1
Online Master of Science in Analytics                   2
Online Master of Science in Business Intelligen...      1
Online Master of Science in Data Analytics              1
Online Master of Science in Data Science                4
Online Master of Science in Government Analytics        1
Online Master's in Health Administration: Infor...      1
Online Master's in Health Informatics                   1
Online Master's in Management Information Systems       1
Online Post-Master's Certificate in Quantitativ...      1
Ph.D. Minor in Data Science                             1
Ph.D. in Analytics and Data Science                     1
Ph.D. in Big Data and Data Science                      1
Ph.D. in Business Administration - Information ...      1
Ph.D. in Computer Science with Specialization i...      1
Ph.D. in Data Science                                   1
Professional Certificate in Business Analytics          1
Professional MBA with Business Analytics                1
Professional MS in Computer Science (Concentrat...      1
Professional Master of Information Systems              1
Professional Science Master's (PSM) in Data Sci...      1
Professional Science Master's Degree in Environ...      1
Professional Science Master's Degree in Predict...      1
Professional Science Master's Program in Health...      1
Professional Science Master's in Data Managemen...      1
Spatial Business Intelligence Graduate Certificate      1

[276 rows x 1 columns]

In [293]:
#normalise the data and group courses of similar nature or title together 
def course_type(row):
    if 'Master of Science' in row['PROGRAM'] or  'M.S.' in row['PROGRAM']:
        val='Science-Masters'
    elif 'Ph.D.' in row['PROGRAM']:
        val='Doctoral'
    elif 'certificate' in row['PROGRAM']:
        val='Certificate'
    elif 'Arts' in row['PROGRAM']:
        val='Arts- Masters'
    elif 'Business Analytics' in row['PROGRAM']:
        val='Masters in Business Analytics'
    elif 'Technology' in row['PROGRAM']:
        val='Engineering- Masters'
    elif 'Business' in row['PROGRAM'] or 'MBA' in row['PROGRAM']:
        val='Business- Masters'
    else:
        val='General'
    return val

In [294]:
data_science_data_2['course_type']=data_science_data_2.apply(course_type,axis=1)

/Users/varsha/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [58]:
#normalise the data based ont he department they are affiliated to 
def department_type(row):
        if 'Computer Science' in row['DEPARTMENT'] or 'Computing' in row['DEPARTMENT']:
            val='Computer Science' 
        elif 'Science' in row['DEPARTMENT']:
            val='Science'
        elif 'Statistic' in row['DEPARTMENT']:
            val='Statistics'
        elif 'Business' in row['DEPARTMENT']:
            val='Business'
        elif 'Informatic' in row['DEPARTMENT']:
            val='Informatics'
        else:
            val='Other'
        return val

In [295]:
data_science_data_2['department_type']=data_science_data_2.apply(department_type,axis=1)

/Users/varsha/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

# Using the santa clara standards to compare the duration to the number of credits. At Santa Clara we are advised to pursue the course at 3 credits / a month

In [296]:
import re
def credit_time_func(row):
    m = re.search('([0-9].*).*[cC]redit',row['DURATION'])
    if m:
        s = re.search('([0-9].*)-([0-9].*)', m.group(1))
        if s:
            return int(s.group(1))
        try:
            return  int(m.group(1))
        except:
            pass
    m = re.search('([0-9].*).*[mM]onth', row['DURATION'])
    if m:
        s = re.search('([0-9].*)-([0-9].*)', m.group(1))
        if s:
            return int(s.group(1)) * 3
        try:
            return int(m.group(1))*3
        except:
            pass
    m = re.search('([0-9].*).*[uU]nit', row['DURATION'])
    if m:
        s = re.search('([0-9].*)-([0-9].*)', m.group(1))
        if s:
            return int(s.group(1))
        try:
            return int(m.group(1))
        except:
            pass
    m = re.search('([0-9].*).*[yY]ear', row['DURATION'])
    if m:
        s = re.search('([0-9].*)-([0-9].*)', m.group(1))
        if s:
            return int(s.group(1)) * 12 * 3
        try:
            return int(m.group(1))*12*3
        except:
            pass
    m = re.search('([0-9].*).*[hH]our', row['DURATION'])
    if m:
        s = re.search('([0-9].*)-([0-9].*)', m.group(1))
        if s:
            return int(s.group(1))/12
        try:
            return int(m.group(1))/12
        except:
            pass
    m = re.search('([0-9].*).*[cC]ourses', row['DURATION'])
    if m:
        s = re.search('([0-9].*)-([0-9].*)', m.group(1))
        if s:
            return int(s.group(1))*3
        try:
            return int(m.group(1))*3
        except:
            pass
    m = re.search('([0-9].*).*[cC]EU', row['DURATION'])
    if m:
        s = re.search('([0-9].*)-([0-9].*)', m.group(1))
        if s:
            return int(s.group(1))
        try:
            return int(m.group(1))
        except:
            pass
    else:
        return 0

In [297]:
data_science_data_2['credits']=data_science_data_2.apply(credit_time_func,axis=1)

/Users/varsha/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [298]:
credit_mean_value=data_science_data_2['credits'].mean()
credit_std=data_science_data_2['credits'].std()
print credit_mean_value, credit_std

30.1894150418 20.114832334

In [299]:
def course_load_image(row):
    try:
        if row['credits']<(credit_mean_value-credit_std):
            return 'http://blogs.coventry.ac.uk/uncovered/wp-content/uploads/sites/7/2015/07/Surprised-Student-e1437744108913.jpg'
        elif row['credits']>(credit_mean_value-credit_std) and row['credits']<credit_mean_value:
            return 'http://www.northwesternflipside.com/wp-content/uploads/2014/01/smug.jpg'
        elif row['credits']>credit_mean_value and row['credits']<(credit_mean_value+credit_std):
            return ''
        else:
            return 'http://wac.450f.edgecastcdn.net/80450F/mix108.com/files/2014/10/491934437-630x419.jpg'
    except:
        pass

In [300]:
data_science_data_2['course_load_URL']=data_science_data_2.apply(course_load_image,axis=1)

In [301]:
def delivery_format(row):
    if 'online' in row['DELIVERY'].lower() and 'campus' in row['DELIVERY'].lower() :
        return 'Online & Campus'
    elif 'online' in row['DELIVERY'].lower():
        return 'Online'
    elif 'campus' in row['DELIVERY'].lower():
        return 'Campus'
    else:
        return 'Hybrid program'

In [302]:
data_science_data_2['delivery_format']=data_science_data_2.apply(delivery_format,axis=1)

In [304]:
data_science_data_2.columns

Index([u'SCHOOL', u'STATE', u'CITY', u'NOC', u'PROGRAM', u'TYPE',
       u'DEPARTMENT', u'DELIVERY', u'DURATION', u'PREREQ', u'LINK', u'LOC_LAT',
       u'LOC_LONG', u'WORLD_RANK', u'COUNTRY', u'TEACHING', u'INTERNATIONAL',
       u'INCOME', u'NUM_STUDENTS', u'STUDENT_STAFF_RATIO',
       u'INTERNATIONAL_STUDENTS', u'F_M_RATIO', u'YEAR', u'course_type',
       u'department_type', u'credits', u'course_load_URL', u'delivery_format'],
      dtype='object')

In [312]:
data_science_data_3=data_science_data_2[['SCHOOL','CITY','PROGRAM','LINK','LOC_LAT','LOC_LONG','NUM_STUDENTS','course_type','department_type','credits','course_load_URL','delivery_format']]

In [313]:
data_science_data_3.to_csv('/Users/varsha/Downloads/data_Science_data_final.csv')